body {
    background-image: url("image/los_dark.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height: 100%;
}

hr {
    background-color: white;
}

.navbar-brand {
    display: flex;
    padding: 0;
}

.navbar {
    padding: 0;
}

.container {
    border: solid;
}

.navbar img {
    width: 20%;
    height: 13%;
}

.navbar p {
    margin: auto 0;
    padding-left: 1em;
}

.zoom {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.zoom:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: auto;
}

span {
    width: 100%;
    text-align: center
}

.fromleft {
    animation-name: left;
    animation-duration: 4s;
}

@keyframes left {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

.fromright {
    animation-name: right;
    animation-duration: 4s;
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}